* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}


/* header */
header {
	display: flex;
}

/* nav */
nav.menu {
	height: 60px;
	background-color: #4a4a4a;
	color: #252c2c;
	width: 100%;
	padding: 0 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

nav.menu a {
	margin: 0 2rem;
	text-decoration: none;
	padding: 1rem;
	color: #fff;
}

.dropdown {
	position: relative;
}

.dropdown ul {
	text-align: center;
	list-style-type: none;
	position: absolute;
	top: 20px;
	left: -50px;
	/* top: 200%;
	left: 50%;
	transform: translate(-50%, -50%); */
	padding: 0;
	padding-top: 9px;
	width: 200px;
	background: rgba(39, 37, 37, 0.4);
	box-shadow: 0px 0px 23px 0px rgba(39, 37, 37, 0.4);
	margin-top: 10px;
	border-radius: 7px;
	z-index: -1;
}

.dropdown ul li {
	padding: 0.5rem;
}
